[user]
	name = akin.fagbohun
	email = akin.fagbohun@lush.co.uk
[core]
	excludesfile = .gitignore
	editor = code --wait
[pull]
  rebase = true
[rerere]
	enabled = true

[includeIf "gitdir:~/Documents/Personal/"]
    path = ~/.gitconfig-personal